/* ===== RESPONSIVE BURGER + MISE EN PAGE ===== */
.burger {
  display: none;
  font-size: 2em;
  background: none;
  border: none;
  cursor: pointer;
  color: #1f2039;
}

/* ===== RESET GLOBAL ===== */
* {
  margin: 0; /* Supprime les marges par défaut */
  padding: 0; /* Supprime les espacements par défaut */
  box-sizing: border-box; /* Facilite les calculs de taille */
}

/* ===== STYLES GÉNÉRAUX ===== */

html, body {
  height: 100%;
}


body {
  font-family: Manrope, sans-serif; /* Police générale du site */
  font-size: 1em; /* Taille de texte de base */
  background-color: #1f2039; /* Fond bleu foncé */
  display: flex; /* Utilisation de flexbox pour la mise en page */
  flex-direction: column; /* Empile les éléments verticalement */
  align-items: center; /* Centre les éléments horizontalement */
  padding-top: 6em; /* Espacement supérieur pour le header */
}

.container {
  display: flex; /* Utilisation de flexbox pour la mise en page */
  flex-direction: column; /* Empile les éléments verticalement */
  align-items: center; /* Centre les éléments horizontalement */
  height: 100%; /* S'étend sur toute la hauteur */
}

main{
  flex:1; /* Permet au main de prendre tout l'espace restant */
  display: grid; /* Utilisation de grid pour la mise en page */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Grille responsive */
  gap: 2em; /* Espacement entre les éléments de la grille */
  padding: 2em; /* Espacement interne */
  margin: 0 auto; /* Centrage horizontal */
  max-width: 1200px; /* Largeur maximale de la grille */
  background-color: #1f2039; /* Fond bleu foncé */
  border-radius: 8px; /* Coins arrondis */
  box-shadow: 0 8px 20px rgb(0 0 0 / 20%); /* Ombre portée */
  color: #f9f8ff; /* Couleur du texte */
}

.main-gauche {
  display: flex; /* Utilisation de flexbox pour la mise en page */
  flex-direction: column; /* Empile les éléments verticalement */
  align-items: center; /* Centre les éléments horizontalement */
  justify-content: center ; /* Centre les éléments verticalement */
  gap: 2em; /* Espacement entre les éléments */
  border-radius: 8px; /* Coins arrondis */
}

.main-gauche p {
  text-align: center; /* Centre le texte */
  margin: 0.5em; /* Espacement autour du texte */
  color: #f9f8ff; /* Couleur du texte */
}

/* ===== NAVIGATION ===== */


nav a.active {
  font-weight: bold; /* Met en gras le lien actif */
  color: #a5b4fc; /* couleur douce ou personnalisée */
}

/* ===== TITRES ET TEXTE ===== */
h1 {
  font-size: 3.5em; /* Très grand titre */
  font-family: Montserrat, sans-serif; /* Police différente pour les titres */
  color: #a5b4fc; /* Couleur lavande douce */
  text-align: center; /* Centre le titre */
}

h2 {
  color: #f9f8ff; /* Blanc cassé pour les sous-titres */
}

p,
li {
  font-size: 1.1em; /* Texte lisible */
  color: #f9f8ff;
}

a {
  color: #242424; /* Lien foncé */
  text-decoration: none; /* Pas de soulignement par défaut */
}

a:hover {
  text-decoration: underline; /* Soulignement au survol */
}

em {
  color: #a5b4fc; /* Met en valeur les éléments */
  font-style: normal;
}

/* ===== BOUTON PRINCIPAL ===== */
.cta {
  display: inline-block;
  background: linear-gradient(#8e86b5, #acaeed); /* Dégradé lavande */
  color: white;
  border-radius: 50px; /* Forme arrondie */
  font-size: 1em; /* Taille du texte dans le bouton */
  padding: 0.8em 2em; /* Espacement interne */
}

.cta:hover {
  background: linear-gradient(
    #181044,
    #2d2d3b
  ); /* Changement de couleur au survol */

  text-decoration: none;
}

/* ===== HEADER & FOOTER ===== */
header {
  position: fixed; /* Fixe le header en haut */
  top: 0; /* En haut de la page */
  width: 100%; /* S'étend sur toute la largeur */
  background-color: white; /* Fond blanc */
  z-index: 1000; /* Placer au-dessus du reste */
  padding: 1em 2em; /* Espacement interne */
}

.menu-deroulant {
  position: relative; /* Position relative pour le menu déroulant */
  display: inline-block; /* Affichage en ligne */
}

.menu-deroulant .sous-menu {
  display: none; /* Masque le sous-menu par défaut */
  position: absolute; /* Position absolue pour le sous-menu */
  background-color: white; /* Fond blanc */
  min-width: 180px; /* Largeur minimale du sous-menu */
  box-shadow: 0 8px 16px rgb(0 0 0 / 20%); /* Ombre portée */
  z-index: 1000; /* Placer au-dessus des autres éléments */
}

.menu-deroulant .sous-menu a {
  display: block; /* Affichage en bloc pour les liens du sous-menu */
  padding: 0.5em; /* Espacement interne */
  text-decoration: none; /* Pas de soulignement */
  color: #1f2039; /* Couleur du texte */
  margin-top: 0.8em; /* Espacement supérieur */
}

.menu-deroulant .sous-menu a:hover {
  background-color: #f1f1f1; /* Fond gris clair au survol */
}

.menu-deroulant:hover .sous-menu {
  display: block; /* Affiche le sous-menu au survol */
}

.Logofooter {
  max-height: 50px; /* Ajuste la taille de l'image */
  height: 100%; /* S'adapte à la hauteur du header */
}

.Logoheader {
  max-height: 50px; /* Ajuste la taille de l'image */
  height: 100%; /* S'adapte à la hauteur du header */
}

footer {
  background-color: #03041b; /* Fond foncé pour le footer */
  padding: 1em 2em; /* Espacement interne */
  bottom: 0; /* Fixe le footer en bas */
  width: 100%; /* S'étend sur toute la largeur */
  max-height: 80px; /* Ajuste la hauteur maximale */
  height: 100%; /* S'étend sur toute la hauteur */
}

/* ===== NAVIGATION ===== */
footer,
nav {
  display: flex; /* Utilisation de flexbox pour une disposition souple */
  flex-direction: row; /* Disposition horizontale des éléments */
  align-items: center; /* Centrage vertical des éléments */
  justify-content: space-between; /* Espacement entre les éléments */
}

nav a {
  margin-right: 2em; /* Espacement à droite des liens */
  margin-left: 2em; /* Espacement à gauche des liens */
}

.lien-icone {
  margin-left: 0.1em; /* Espacement spécifique pour les icônes */
}

.lien-icone:hover {
  opacity: 0.7; /* Effet de transparence au survol */
}

/* ===== SECTIONS GÉNÉRALES ===== */
section {
  padding: 0.8em; /* Espacement interne des sections */
}

/* Conteneur pour centrer */
.photo-grid {
  display: flex;
  justify-content: center;
  align-items: center;

}

/* Image style vignette */
.photo-grid img {
  width: 100%;
  height: auto;
  border: 4px solid #a5b4fc;
  background-color: #f9f8ff;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgb(0 0 0 / 20%);
}

/* Zoom léger au survol */
.photo-grid img:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0 0 0 / 90%);
  backdrop-filter: blur(5px);
  z-index: 1001;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease;
}

.lightbox-content {
  max-width: 90%;
  max-height: 80vh;
  border-radius: 8px;
  box-shadow: 0 0 25px rgb(0 0 0 / 60%);
  animation: zoomIn 0.3s ease;
}


.close {
  position: absolute;
  top: 30px;
  right: 40px;
  font-size: 3em;
  font-weight: bold;
  color: white;
  cursor: pointer;
  z-index: 1002;
}

.close:hover {
  color: #a5b4fc;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}




/* BOUTON RETOUR EN HAUT */
.back-to-top {
  position: fixed; /* Fixe le bouton en bas à droite */
  bottom: 0.5em; /* Position verticale */
  right: 0.5em; /* Position horizontale */
  background: #a5b4fc; /* Couleur de fond */
  color: white; /* Couleur du texte */
  padding: 0.7em 1em; /* Espacement interne */
  border-radius: 50%; /* Forme arrondie */
  font-size: 1.3em; /* Taille du texte */
  text-decoration: none; /* Pas de soulignement */
  z-index: 999; /* Placer au-dessus des autres éléments */
  transition: background 0.3s; /* Transition douce pour le changement de couleur */
}

.back-to-top:hover {
  background: #8788ba; /* Couleur au survol */
  text-decoration: none; /* Pas de soulignement au survol */
}

.copyright {
  color: white; /* Couleur du texte */
  text-align: center; /* Centrer le texte */
  margin-top: 3em; /* Espacement au-dessus du texte */
  margin-right: 42%; /* Espacement à droite */
  font-size: 0.8em; /* Taille du texte */
  display: flex; /* Active flexbox */
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
}